* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  background-color: antiquewhite;
  color: white;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  color: red;
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.2rem;
  color: black;
}

#scoreboard {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
}

.bodyDark{
  background-color: rgba(0, 0, 0, 0.6);
}

#canvas {
  background-color: white;
  border: 1px solid black;
  margin: 1rem;
  border-radius: 15px;
  width: 56vw;
}

.dark{
  color: white;
}



#currentScore {
  display: flex;
  gap: 4;
}
#bestScore {
  display: flex;
  gap: 4;
}

#timePassed {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 120px;
  padding: 10px;
  right: 23%;
  display: flex;
  gap: 4;
}

#scores {
  position: absolute;
  top: 0;
  left: 23%;
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: fade-in-out 2s ease-in-out infinite;
}

#highScore {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  animation: fade-in-out 1s ease-in-out infinite;
}


@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  #canvas {
    width: 90vw;
  }

  #timePassed,
  #scores {
    position: static;
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  #canvas {
    width: 80vw;
  }
}
